<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/notesDashboard.css">
    <link rel="stylesheet" href="../styles/loginSignup.css">
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="shortcut icon" href="../styles/01.jpg" type="image/x-icon">
    
    <title>SwiftNote- Dashboard</title>
</head>
<body>
    <button class="btn" id="logoutbtn">Logout</button>
    
    <div id="addNoteDiv">

    </div>
    <div id="note-card-list">
        <input id="n-title" type="text" placeholder="Note Title" />
        <textarea id="n-body" placeholder="Note Body"></textarea>
        <button id="add-note" class = "btn1">Add Note</button>

    </div>
    
    <script src="../scripts/dashboard.js">
        
    </script>
</body>
</html>
