<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/user.css">
    <link rel="shortcut icon" href="../styles/01.jpg" type="image/x-icon">
    <title>SwiftNote-users</title>
</head>
<body>
    
      <div id="user-card-list">
        

    </div>
    <script src="../scripts/user.js"></script>
<script src="../scripts/home.js"></script>
</body>

</html>